name: Noir tests

on:
  push:
   branches:
    - master
  pull_request:

env:
  CARGO_TERM_COLOR: always
  NARGO_VERSION: 0.32.0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: $NARGO_VERSION

      - name: Run Noir tests
        run: nargo test

  # Disabled as the formatter panics
  # format:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v4

  #     - name: Install Nargo
  #       uses: noir-lang/noirup@v0.1.3
  #       with:
  #         toolchain: $NARGO_VERSION

  #     - name: Run formatter
  #       run: nargo fmt --check