name: Noir tests

on:
  push:
   branches:
    - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on Nargo ${{matrix.toolchain}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [nightly, 0.36.0]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Run Noir tests
        run: nargo test

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: 0.36.0

      - name: Run formatter
        run: nargo fmt --check
